<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>


    <div id="footer">
        <div id="inside">

            <div id="firstPart">
                <div id="logoNome">
                    <img src="../../assets/logo_preta.png" alt="logo_preta" id="footer-logo">
                    <p style="margin: auto 0px; font-size: 25px; padding-bottom: 20px;">Colégio Estadual <br>Dona Branca</p>
                </div>

                <p style="margin: 20px 0px 0px 30px">
                    (41) 3356-0638
                    <br>Rua Jorge Bonn 460
                    <br>Tingui Curitiba - PR
                    <br>CEP: 82600-290
                </p>
            </div>
        </div>







        <p style="text-align: center; margin: 0px 0px 15px 0px; font-weight:100; color: rgba(255, 255, 255, 0.69); ">
            ©2024 - Colégio Estadual Dona Branca do Nascimento Miranda
            <br>Desenvolvido por Paulo E. Konopka
            <br> Publicado por Lucas Walesko
        </p>
    </div>




</body>

</html>